<% if flash[:success] %>
  window.location.href = "<%= building_upcoming_inspections_path(@inspection.building) %>";
<% else %>
  <% flash[:danger].each do |message| %>
    document.getElementById('error-<%= @inspection.id %>').innerHTML += "<div class='alert alert-primary alert-dismissible'><%= j(message) %></div>";
  <% end %>
<% end %>