<!--begin::Form-->
<form action="/portfolios" method="post" class="form">
  <!--begin::Card body-->
  <div class="card-body border-top p-9">
    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label required fw-semibold fs-6">Name</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8">
        <!--begin::Row-->
        <div class="row">
          <!--begin::Col-->
          <div class="col-lg-6 fv-row">
            <input type="text" name="name" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Billionaires Row" />
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label fw-semibold fs-6">Description</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">
        <input type="text" name="description" class="form-control form-control-lg form-control-solid" placeholder="57th Street between Columbus Circle and Park Avenue" />
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label fw-semibold fs-6">Email Address</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">
        <input type="text" name="email_address" class="form-control form-control-lg form-control-solid" placeholder="manager@billionairesrow.com" />
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label fw-semibold fs-6">
        <span>SMS</span>
        <span class="ms-1" data-bs-toggle="tooltip" title="Phone number must be active">
																<i class="ki-outline ki-information-5 text-gray-500 fs-6"></i>
															</span>
      </label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">
        <input type="tel" name="sms" class="form-control form-control-lg form-control-solid" placeholder="123" />
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
  </div>
  <!--end::Card body-->
  <!--begin::Actions-->
  <div class="card-footer d-flex justify-content-end py-6 px-9">
    <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
    <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save Changes</button>
  </div>
  <!--end::Actions-->
</form>
<!--end::Form-->