<!--begin::User account menu-->
<div class="dropdown-menu menu-column menu-rounded menu-gray-800 py-4 fs-6 w-275px" aria-labelledby="userDropdown">
  <!--begin::Menu item-->
  <div class="dropdown-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <!--begin::Username-->
      <div class="d-flex flex-column">
        <div class="fw-bold d-flex align-items-center fs-5">
          <%= current_user&.first_name %> <%= current_user&.last_name %>
          <span class="badge bg-success fw-bold fs-8 px-2 py-1 ms-2 text-white">Pro</span>
        </div>
        <div class="text-muted fs-7">
          <%= current_user&.email %>
        </div>
      </div>
      <!--end::Username-->
    </div>
  </div>
  <!--end::Menu item-->

  <!--begin::Menu separator-->
  <div class="dropdown-divider my-2"></div>
  <!--end::Menu separator-->

  <!--begin::Menu item-->
  <a href="#" class="dropdown-item px-5">My Subscription</a>
  <!--end::Menu item-->

  <!--begin::Menu separator-->
  <div class="dropdown-divider my-2"></div>
  <!--end::Menu separator-->

  <!--begin::Menu item-->
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'dropdown-item px-5' %>
  <!--end::Menu item-->
</div>
<!--end::User account menu-->
