<p>A new <%= @resource.class.name.demodulize.titleize %> for <%= @resource.building.name %> was filed.</p>

<p><%= link_to 'Log in to view details', root_url %></p>

<p>Thank you,<br>The Propmaticly Team</p>