<div class="modal fade" id="deleteModal<%= attachment.id %>" data-controller="modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-action="modal#close" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the attachment "<%= attachment.filename.to_s %>"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-action="modal#close">Cancel</button>
        <%= button_to 'Delete', attachment_path(attachment), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
