<!--begin::Form-->
<form id="kt_modal_add_building_form" action="/building/" method="post" class="form">
  <input type="hidden" name="_method" value="DELETE">
  <!--begin::Card body-->
  <div class="card-body border-top p-9">
    Are you sure you want to delete the building? All associated complaints will also be deleted
  </div>
  <!--end::Card body-->
  <!--begin::Actions-->
  <div class="card-footer d-flex justify-content-end py-6 px-9">
    <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
    <button type="submit" class="btn btn-danger" id="kt_account_profile_details_submit">Delete Building</button>
  </div>
  <!--end::Actions-->
</form>
<!--end::Form-->