<div data-controller="modal">
  <%= turbo_frame_tag "modal" do %>
    <div class="turbo-modal w-500px">
      <!--begin::Form-->
      <%= form_for(@building, url: portfolio_building_path(@portfolio), method: :patch) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
      <!--end::Form-->
    </div>
  <% end %>
</div>