<div data-controller="modal">
  <%= turbo_frame_tag "modal" do %>
    <div class="turbo-modal w-500px">
      <!--begin::Form-->
      <%= form_for(@building, url: portfolio_buildings_path(@portfolio), data: {turbo_frame: "_top"}) do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
      <!--end::Form-->
    </div>
  <% end %>
</div>