<% if flash[:success] %>
  window.location.href = "<%= portfolio_buildings_path(@building.portfolio) %>";
<% else %>
  <% flash.each do |key, message| %>
    document.getElementById('error-<%= @building.id %>').innerHTML += "<div class='alert alert-primary alert-dismissible'><%= j(message) %></div>";
  <% end %>
<% end %>