<p>Hello <%= @first_name %>,</p>

<p>This is Gary from <a href="https://propmaticly.com">Propmaticly.com</a>. We've built compliance software specifically for NYC buildings. Our system alerts building owners and property managers via text when complaints, violations, or inspections are due.</p>

<p>We’d love your help promoting this software to your clients. In return, we’ll pay you a commission for every sale. This adds a new revenue stream for you while helping your clients stay ahead of compliance deadlines.</p>

<p>Would you be interested in hearing more?</p>

<p>Thanks,<br />
  Gary<br />
  <a href="https://propmaticly.com">Propmaticly.com</a></p>