<div class="modal fade modal-lg" id="newModal" tabindex="-1" aria-hidden="true" data-controller="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invite User</h5>
        <button type="button" class="btn-close" data-action="modal#close" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="error">
        </div>

        <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), remote: true) do |f| %>
          <%= render partial: 'devise/invitations/create_form', locals: { f: f } %>
        <% end %>
      </div>
    </div>
  </div>
</div>