<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">
    <!--begin::User menu-->
    <div class="app-navbar-item ms-3 ms-lg-9" id="kt_header_user_menu_toggle">
        <!--begin::Menu wrapper-->
        <div class="d-flex align-items-center" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
          <span class="las la-user-circle fs-2hx me-1"></span>
          <span>Hello <%= current_user&.first_name %></span>
        </div>
<%= render 'partials/menus/user-account-menu' %>
        <!--end::Menu wrapper-->
    </div>
    <!--end::User menu-->
    <!--begin::Header menu toggle-->
    <div class="app-navbar-item d-lg-none ms-2 me-n3" title="Show header menu">
        <div class="btn btn-icon btn-color-gray-500 btn-active-color-primary w-35px h-35px" id="kt_app_header_menu_toggle">
            <i class="ki-outline ki-text-align-left fs-1"></i>        </div>
    </div>
    <!--end::Header menu toggle-->
</div>
<!--end::Navbar-->